@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model string

@if (!SignInManager.IsSignedIn(User))
{
    <center>
        <h2 id="WelcomeString">Welcme in my application!</h2>
        <p><b>If you want to see all features please log in</b></p>
    </center>
}
else
{
    <center>
        <h2 id="WelcomeString">Hello @Model!</h2>
        <p>Enjoy my application!</p>
    </center>

}